.mainDiv {
  padding: 20px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  background-color: transparent;
  border: 2px solid cornsilk;
  border-radius: 10px;
  margin: 5px;
  transition: background-color 0.4s;
}

.mainSpan {
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
}

.mainDiv:hover {
  background-color: grey;
  border: 2px solid cornsilk;
}