.container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}

.attxt {
  padding: 15px;
  font-size: 10px;
  font-weight: lighter;
}

