.title {
  text-align: left;
  font-weight: bold;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: DodgerBlue; */
}

.titleColumn {
  /* background-color: #f1f1f1; */
  width: 40%;
  margin: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

.contentColumn {
  /* background-color: #f1f1f1; */
  width: 60%;
  margin: 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 15px;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table td {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
