.header {
  padding: 20px;
  background: #2a1a32;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-family: Trebuchet, serif;
  font-size: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #92a88a;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: #2a1a32;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 25%;
  background-color: #543564;
  padding: 20px;
}

.mainCol {
  flex: 75%;
  background-color: #9d8fa3;
  padding: 20px;
  min-height: 750px;
}

.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.imgdiv {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #2a1a32;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
