
.flexContain {
    background-color: #c4c0ffd3;
    display: flex;
    flex-direction: column;
}

.flexRow {
    background-color: #fab0fad3;
    display: flex;
    flex-direction: row;
}

.flexHead {
    background-color: #beffccde;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 45%;
    margin: 5px;
    text-align: left;
    font-size: 16px;
  }

  .flexInfo {
    background-color: #f5ffbede;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 45%;
    margin: 5px;
    text-align: left;
    font-size: 16px;
  }