
.maint {
  height: "auto";
  min-width: "100%";
}

.table {
  table-layout: auto;
  border-collapse: separate;
  width: 100%;
}     

.titleRow {
  min-width: 30%;
  text-align: left;
}

.nameCol {
  min-width: 30%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.buttonCol {
  min-width: 5%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.spacer {
  padding: 20px;
}