
.maint {
  height: "auto";
  min-width: "100%";
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}     

.titleRow {
  min-width: 30%;
  text-align: left;
}
.nameCol {
  min-width: 30%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}