.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.container h1 {
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
}

.content {
  text-align: center;
  padding: 20px;
}

.spacer {
  padding: 20px;
}